@import "./styles/variables.scss";

#root{
  margin: 0 auto;
  padding: 0;
}

@keyframes appear{
  0%{
    transform: translateX(-100%); 
  }
  100%{
    transform: translateX(0%);
  }
}

@keyframes balance{
  0%{
    transform: rotate(20deg);
  }
  100%{
    transform: rotate(50deg);
  }
}

main{
  min-height: 100vh;
  max-width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $bg-primary;

  .header-contaier{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    padding: 48px;

    .menu-options{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;

      a{
        font-weight: 500;
        font-size: 16px;
        cursor: pointer;

        &:hover{
          color: $color-primary;
          transition: all 500ms;
        }
      }
    }

    button{
      border-radius: 24px;
      border: none;
      font-size: 16px;
      font-weight: 500;
      background-color: transparent;
      overflow: hidden;
      position: relative;

      div{
        display: flex;
        justify-content: center;
        gap: 16px;
        align-items: center;
        cursor: pointer;
        height: 100%;
        width: 100%;
        padding: 16px 24px;
        border-radius: 24px;
        border: none;
      }

      .btn-face-white{
        color: #202020;
        background-color: white;
        z-index: 998;
      }

      .btn-face-purple{
        color: white;
        background: rgb(212,46,186);
        background: linear-gradient(-90deg, rgba(212,46,186,1) 0%, rgba(148,38,199,1) 100%);
        display: none;
        z-index: 999;
        position: absolute;
        top: 0;
      }

      &:hover{
        .btn-face-purple{
          display: flex;
          animation: appear 250ms linear 0ms forwards;
        }
      }
    }
  }

  .content-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-grow: 1;
    width: 70%;
    padding: 32px;

    .heading-container{
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 50%;

      :first-child{
        align-self: flex-start;
      }
      :last-child{
        align-self: flex-end;
      }

      h2{
        font-size: 52px;
        justify-content: center;
        align-items: center;
        font-weight: 800;
      }
    }

    .bubble{
      background-color: #b6b6b6a6;
      padding: 12px 16px;
      border-radius: 100%;
      position: absolute;

      &.fire{
        right: 20px;
        transform: rotate(-20deg);
        bottom: 30%;
        font-size: 24px;
      }

      &.rocket{
        top: 20%;
        right: 65px;
        font-size: 52px;
      }

      &.target{
        top: 15%;
        left: 100px;
        font-size: 72px;
        animation: balance 3s alternate 400ms infinite;
      }

      &.shop{
        bottom: 30%;
        left: 30px;
        font-size: 24px;
        transform: rotate(30deg);
      }
    }
  }
}